.content {
  padding: 10px;
  width: 100%;

  .backgroundImg {
    border-radius: 12px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: -50px;
  }
  .profile{
    display: flex;
    justify-content: space-between;
  }
}