.wrapperMyPost {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 10px 0;

  .wrapperInput {
    padding: 10px;
    .postTitle {
      margin: 5px 0;
      color: #FFFFFF;
    }
  }

}