.nav {
    padding: 20px;
    grid-area: n;
    background: #70b5f9;

}
.item  a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        color: gold;
    }
}
.active a{
    color: gold;
}