.nav {
  padding: 20px;
  grid-area: n;
  background: #6082b6;
  .wrapperFriends{
    margin-top: 100px;
    .friendTitle{
      color: #FFFFFF;
      text-align: center;
    }
    .friends{
      display: flex;
      justify-content: space-between;
    }
  }

}
