.content {
    padding: 20px;
    grid-area: c;
    background: #70b5f9;
}
.imgWrapepr img {
    border-radius: 6px;
    width: 100%;
    height: 200px;
}
.item{
    padding: 10px 0;
    display: flex;
    color: green;

}
 .massage{
    font-weight: 500;
    padding-left: 10px;
}
.wrapp_like{
    display: flex;
    flex-direction: column;
}
.wrapp_like span{
    text-align: center;
    color: #FFFFFF;
}
.item img{
    width: 50px;
    border-radius: 12px;
}