.app-wrapper {
  display: grid;
  grid-template-areas:"h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.app-wrapper-content {
  grid-area: c;
  background: #2b323c;
  border-radius: 12px;
  padding: 10px;

}