.wrapperDialogs {
  border-radius: 12px;
  background-image: url("https://w0.peakpx.com/wallpaper/299/582/HD-wallpaper-fathers-stuff-ultra-aero-patterns-dark-black-glasses-pattern-male-crown-father-stuff-mustache-hats-necktie.jpg");
  background-position: center;

  .dialogs {
    padding: 10px;
    background-color: #ffffff10;
    display: flex;

    .dialog {
      width: 100%;

    }

    .message {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  }

  .chatInput {
    padding-top: 15px;
    display: flex;
    background-color: #2b323c;

    input {
      color: #FFFFFF;
      width: 100%;
      background: #2b323c;
    }

    button {
      background-color: #2b323c;
      width: 60px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

}